server:
  port: 2000
spring:
  application:
    name: AuthServiceMS
  datasource:
    url: jdbc:mysql://localhost:3306/authdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true