server:
  port: 5000
spring:
  application:
    name: NotifyServiceMS
  datasource:
    url: jdbc:mysql://localhost:3306/notificationdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true